/* Import Tailwind's base, components, and utility styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
:root {
  --header-height: 120px;
  --footer-height: 100px;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Project card hover effect */
.card {
  background-color: #333;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d3d3d3;
}

.card p {
  font-size: 1rem;
  color: #d3d3d3;
  margin-bottom: 1rem;
}

.card a {
  background-color: #d3d3d3;
  color: #1a1a1a;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.card a:hover {
  background-color: #a9a9a9;
}

/* Keyframes to move icons from the bottom left */
@keyframes slideInFromBottomLeft {
  0% {
    transform: translate(-50px, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* Base icon style */
.icon-animation {
  opacity: 0;
  transform: translate(-50px, 50px);
  animation: slideInFromBottomLeft 0.8s ease forwards;
}

/* Delays for staggered animations */
.icon-animation-1 {
  animation-delay: 0.1s;
}

.icon-animation-2 {
  animation-delay: 0.3s;
}

.icon-animation-3 {
  animation-delay: 0.5s;
}

.icon-animation-4 {
  animation-delay: 0.7s;
}

.icon-animation-5 {
  animation-delay: 0.9s;
}

.icon-animation-6 {
  animation-delay: 1.1s;
}

.icon-animation-7 {
  animation-delay: 1.3s;
}

.icon-animation-8 {
  animation-delay: 1.5s;
}

.icon-animation-9 {
  animation-delay: 1.7s;
}

.icon-animation-10 {
  animation-delay: 1.9s;
}

.icon-animation-11 {
  animation-delay: 2.1s;
}

.icon-animation-12 {
  animation-delay: 2.3s;
}
